.post {
    overflow: auto;
    background: #ddf9c0;
    margin: 15px;
    position: relative;
  }

  .thumbnail {
    width: 100px;
    text-align: center;
  }
  
  .post-content {
    display: block;
    vertical-align: top;
    padding: 10px;
  }

  
.info {
    color: #999999;
  }
  