<div class="content">
  <div id="menu">
    <div class="title">Navigation</div>
    <ng-template #notLogged>
      <a class="nav" [routerLink]="[ '/login' ]">Login</a>
      <a class="nav" [routerLink]="[ '/register' ]">Register</a>
    </ng-template>
    <ng-template #logged>
      <a class="nav" [routerLink]="[ '/posts' ]">Catalog</a>
      <a class="nav" [routerLink]="[ '/posts/create' ]">Submit Link</a>
      <a class="nav" [routerLink]="[ '/posts/user' ]">My Posts</a>
    </ng-template>
    <ng-container *ngIf="(isLoggedIn$ | async) then logged; else notLogged"></ng-container>
  </div>

  <router-outlet></router-outlet>
</div>