<div>
    <a routerLink="home" [routerLinkActive]="activeClass">Home</a>
    <a routerLink="login" [routerLinkActive]="activeClass">Login</a>
    <a routerLink="register" [routerLinkActive]="activeClass">Register</a>
    <a routerLink="/about" [routerLinkActive]="activeClass">About</a>
    <a routerLink="details/1" [routerLinkActive]="activeClass">Details</a>
    <a routerLink="todo/list" [routerLinkActive]="activeClass">Todos</a>
    <a routerLink="laptop/add" [routerLinkActive]="activeClass">Add Laptop</a>
    <a routerLink="directive/demo" [routerLinkActive]="activeClass">Directvie Demo</a>
</div>